{% extends 'layout.html' %}

{% block body %}

<div>
    <h1>Panda Ops</h1>
    <div>
        <div class="dropdown alignleft">
            <button class="dropbtn button_warning">Add</button>
            <div class="dropdown-content">
                <form id="upload_df" method="POST" enctype="multipart/form-data">
                    <input type="file" name="upload_df" accept=".csv" onchange="upload_df">
                </form>
                <button id="sample_df" name="sample_df">Add Sample DF</button>
            </div>
        </div>
        <div class="dropdown alignleft">
            <button class="dropbtn button_warning">Select</button>
            <div class="dropdown-content">
                <div id="loaded_dfs">
                    {% if df_keys is not none %}
                    <ul>
                        {% for df_key in df_keys %}
                        <li>{{ df_key }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <button id="clear_df_cache" class="button_error alignright">Clear</button>
    </div>
    <br>

    <br>
    <div id="operations" style="display: none">
        <button class="button_secondary" type="button" name="operate">All</button>
        <button class="button_secondary" type="button" name="operate">Head</button>
        <button class="button_secondary" type="button" name="operate">Tail</button>
        <button class="button_secondary" type="button" name="operate">Stats</button>
    </div>

    <div id="df_display_area" class="rendered_html">
    </div>

</div>


{% endblock %}
