<!DOCTYPE html>
<html>
    <head>
        <title>Panda Pops</title>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/panda_pops.PNG') }}"/>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
